body[data-theme="dark"] {

   @import '../src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #8C8C8C;
   }

   .title-styles {
      color: white;
   }

   .header-icon {
      color: #3C342C;
      opacity: 0.8;
   }

   .slider-image {
      border: 5px solid #8C8C8C;
   }

   .language {
      background-color: #494949;
   }

   .link-href {
      color: white;
   }

   .project-date {
      background-color: #918e97;
      color: white;
   }

   header {
      background-color: #494949;
      h1 {
         color: white;
      }
   }

   #about {
      background-color: #7f7f7f;
      h1 span {
         color: white;
      }
      .polaroid span {
         background:  #6d6d6d;
      }
      .card {
         background: #6d6d6d;
         color: white;
      }
   }

   #portfolio {
      background: #5b5b5b;
      .section-title {
         color: white !important;
      }
      .foto div {
         background: #6d6d6d;
      }
      .project-title-settings {
         color: white;
      }
   }

   #contact {
      background: #494949;
      h1 span {
         color: white;
      }
   }

   #resume {
      filter: brightness(80%);
      background: #5b5b5b;
      .section-title {
         color: white !important;
      }

      .experience-badge {
         background: #919191 !important;
         color: white;
      }

      .main-badge {
         background: #919191 !important;
      }

      .vertical-timeline-element-date {
         color: white;
      }

      .vertical-timeline-element-icon {
         background: #919191 !important;
      }
      @media only screen and (max-width: 1169px) {
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   .contact-meet-span {
     background: #6d6d6d;
   }

   .contact-meet-text {
     color: white;
   }

   .contact-meet-line {
     border-top: 3px solid white;
   }

   .contact-meet-image {
     filter: invert(100%);
   }

   .contact-color {
     color: #494949
   }

   .contact-meet-details {
     color: white;
   }

   .modal-inside .modal-content {
      background: #5b5b5b;
      color: white;
   }

   .close-icon {
      color: white;
   }

   .social-links-frontpage a,
   .social-links-frontpage a:visited {
   	color: white;
   }

   .social-links-frontpage a:hover,
   .social-links-frontpage a:focus {
   	color: grey;
   }

   .navbar-b.navbar-trans .nav-link,
   .navbar-b.navbar-reduce .nav-link {
     color: #fff;
   }

   .navbar-b.navbar-trans .nav-link:before {
     background-color: #fff;
   }

   .navbar-b.navbar-trans .nav-link:hover {
     color: #fff;
   }

   .navbar-b.navbar-trans .show > .nav-link,
   .navbar-b.navbar-trans .active > .nav-link,
   .navbar-b.navbar-trans .nav-link.show,
   .navbar-b.navbar-trans .nav-link.active {
     color: #fff;
   }

   .navbar-b.navbar-reduce {
     transition: all .5s ease-in-out;
     background-color: #000;
     padding-top: 9px;
     padding-bottom: 15px;
   }

   .navbar-b.navbar-reduce .nav-link {
     color: #ebeaf5;
   }

   .navbar-b.navbar-reduce .nav-link:before {
     background-color: #ebeaf5;
   }

   .navbar-b.navbar-reduce .nav-link:hover {
     color: #ebeaf5;
   }

   .navbar-b.navbar-reduce .navbar-brand {
     color: #ebeaf5;
   }

   .navbar-toggler span {
     display: block;
     background-color: #fff;
     height: 3px;
     width: 25px;
     margin-top: 4px;
     margin-bottom: 4px;
     -webkit-transform: rotate(0deg);
     transform: rotate(0deg);
     left: 0;
     opacity: 1;
   }

   .portfolio-switch-text {
   	color: #fff;
   }

   .about-icons {
     color: #fff;
   }
}
